* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: Arial, sans-serif;
    margin: 0px;
    background: linear-gradient(95deg, #1e00ff, #00ffee);
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color: #000000;
    text-align: center;
}

h2 {
    color: #000000;
    text-align: center;
}

p {
    margin: 10px 10px;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;   
    color: #000000;
    line-height: 1.5;
    text-align: justify;    
    text-align: center;
}

.caixa {
    width: 850px;
    border: 2px solid #ffffff;
    padding: 30px;
    border-radius: 30px;
    background-color: #ffffff;
    box-shadow: 0 15px 40px rgb(0, 0, 0);
    text-align: center;
}

